@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Shrikhand&display=swap");
@keyframes menu-transition {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: rotate(360deg);
  }
  66% {
    opacity: 1;
    transform: rotate(720deg);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(1080deg);
  }
}
@keyframes bg-page {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes visi {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
body {
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.index-header {
  box-shadow: 0px 4px 0px #d0d0d0;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
header h1 {
  margin: auto;
  font-size: 32px;
  font-family: Shrikhand;
  font-weight: 500;
  padding-top: 10px;
}
header .omf__heading {
  display: flex;
  align-items: center;
  width: 92%;
  padding-top: 10px;
}
header .omf__heading__icon {
  font-size: 32px;
  font-family: Shrikhand;
  font-weight: 500;
  font-size: 26px;
  padding: 5px 0px 0px 20px;
  color: black;
}
header .omf__heading--allmenu {
  margin: auto;
  padding-top: 0px;
}

/* Version tablette */
@media (min-width: 768px) {
  header h1 {
    font-size: 42px;
    font-family: Shrikhand;
    font-weight: 500;
    padding-top: 10px;
  }
  header .omf__heading__icon {
    font-size: 42px;
    font-family: Shrikhand;
    font-weight: 500;
    padding-left: 40px;
  }
}
.area {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: #f6f6f6;
  margin-top: 5px;
}
.area__locate {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  background-color: #e9e9e9;
}
.area__locate__icon {
  margin-right: 20px;
}
.area__btn a {
  text-decoration: none;
  color: white;
}
.area__heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}
.area__heading h2 {
  font-size: 24px;
  font-family: Roboto;
  font-weight: 600;
  margin: auto;
  margin-bottom: 5px;
}
.area__heading h2 span {
  padding-left: 38px;
}
.area__heading h3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
}
.area__heading h3 span {
  padding-left: 44px;
}

/* Version tablette */
@media (min-width: 768px) {
  .area__locate {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
  }
  .area__heading h2 {
    font-size: 30px;
    font-family: Roboto;
    font-weight: 600;
  }
  .area__heading h3 {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 400;
  }
  .area__heading h3 span {
    padding-left: 60px;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
.menu__heading {
  font-size: 24px;
  font-family: Roboto;
  font-weight: 600;
  margin-bottom: 20px;
}
.menu__list {
  padding-left: 2.5%;
  padding-left: -1%;
}
.menu__content {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  background-color: #f6f6f6;
  border-radius: 22px;
  box-shadow: 10px 10px 30px #dddddd;
  padding: 20px 0px 20px 0px;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
}
.menu__content:hover::after {
  opacity: 1;
}
.menu__content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms;
  border-radius: 22px;
  background-color: #e4d5f6;
}
.menu__content__dot {
  background-color: #9356DC;
  color: white;
  margin-left: -13px;
  margin-right: 18px;
  padding: 4px 8px 4px 8px;
  border-radius: 50%;
  font-size: 70%;
}
.menu__content__icon {
  color: #777777;
  font-size: 125%;
  margin-right: 28px;
}
.menu__content:hover > .menu__content__icon {
  color: #9356DC;
}

/* Version tablette */
@media (min-width: 768px) {
  .menu__heading {
    font-size: 30px;
    font-family: Roboto;
    font-weight: 600;
  }
  .menu__content {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .menu__list {
    display: flex;
    justify-content: space-between;
  }
  .menu__content {
    width: 30%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: #353535;
  color: white;
}

.footer__heading {
  margin-top: 10px;
}
.footer__heading h2 {
  font-family: Shrikhand;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 0;
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
  font-family: roboto;
  margin-left: 20px;
  font-weight: 400;
}
ul a {
  text-decoration: none;
  color: white;
  line-height: 24px;
  font-size: 15px;
}
ul li i {
  margin-right: 15px;
}

.handshake {
  margin-right: 10px;
}

/* Version tablette */
@media (min-width: 768px) {
  footer {
    align-items: center;
    text-align: center;
  }
  .footer__heading h2 {
    font-family: Shrikhand;
    font-weight: 400;
    font-size: 22px;
    margin-left: 0px;
  }
  ul {
    margin-left: 0px;
  }
  ul a {
    font-size: 18px;
    line-height: 28px;
  }
  ul li i {
    margin-right: 20px;
  }
  .handshake {
    margin-right: 13px;
  }
}
.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: #f6f6f6;
  margin-top: 50px;
}
.restaurant__link {
  text-decoration: none;
}
.restaurant__heading {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 600;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 14px;
  box-shadow: 10px 10px 30px #dddddd;
  overflow: hidden;
}
.restaurant__card--last {
  margin-bottom: 50px;
}
.restaurant__topcard {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.restaurant__img {
  width: 100%;
}
.restaurant__img img {
  object-fit: cover;
  height: 160px;
  width: 100%;
}
.restaurant__new {
  margin-left: -88px;
  margin-top: 7px;
  background-color: #99E2D0;
  padding: 5px 10px 2px 10px;
  height: 20px;
  color: #278870;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto;
}
.restaurant__bottomcard {
  display: flex;
  justify-content: space-between;
  color: black;
  width: 95%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.restaurant__bottomcard h2 {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 600;
  margin-bottom: 3px;
  margin-top: 0;
  margin-left: 7px;
  width: 160px;
}
.restaurant__bottomcard h3 {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 7px;
  width: 157px;
}
.restaurant__icon {
  margin-top: 4px;
  margin-right: 10px;
  font-size: 25px;
}

#lastcard {
  margin-bottom: 50px;
}

/* Version tablette */
@media (min-width: 768px) {
  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant__heading {
    font-size: 30px;
    font-family: Roboto;
    font-weight: 600;
  }
  .restaurant__card {
    margin-left: 10%;
  }
  .restaurant__link {
    width: 48%;
  }
}
.restaurant-img {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-top: 5px;
  background-color: #f6f6f6;
}
.restaurant-img__photo {
  overflow: hidden;
}
.restaurant-img__photo img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.restaurant-img__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f6;
  width: 100%;
  margin: auto;
  margin-top: -55px;
  font-size: 18px;
  font-family: Shrikhand;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.restaurant-img__heading__txt {
  padding-left: 5%;
  padding-top: 5px;
}
.restaurant-img__heading__icon {
  padding-right: 5%;
  padding-top: 5px;
  font-size: 28px;
}
.restaurant-img__heading__icon .fa-regular {
  margin-right: -27.8px;
}

/* Version Tablette */
@media (min-width: 768px) {
  .restaurant-img__photo img {
    height: 400px;
  }
  .restaurant-img__heading__txt {
    padding-left: 3.5%;
  }
}
.heart-regular {
  margin-right: -25px;
}

.heart-solid {
  color: transparent;
  transform: scale(0.4);
  transition: transform 800ms;
}
.heart-solid:hover {
  transform: scale(1.05);
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
}

.starter {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.starter--tablet {
  display: none;
}
.starter__heading {
  margin-left: 5%;
  margin-bottom: 20px;
  width: 11.5%;
  padding-bottom: 3px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  border-bottom: 3px solid #99E2D0;
}
.starter__menu {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 12px 7px 7px 7px;
  flex-direction: row;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 10px 10px 30px #dddddd;
}
.starter__menu__choice {
  width: 100%;
  padding-left: 7px;
}
@media (max-width: 767px) {
  .starter__menu__choice {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.starter__menu__choice span {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 22px;
}
.starter__menu__choice .food-description {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 85%;
}
.starter__menu__price {
  padding-top: 25px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 95%;
  padding-right: 25px;
}
.starter__menu__price span {
  font-size: 95%;
}
.starter__menu__price--larger {
  padding-top: 45px;
}

/* Version tablette */
@media (min-width: 768px) {
  .all-starter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .starter {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
  }
  .starter--tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .starter--tablet span {
    font-size: 32px;
    font-family: Shrikhand;
    font-weight: 500;
    color: #99E2D0;
  }
  .starter__heading {
    width: 7.5%;
  }
  .starter__menu__price {
    padding-right: 25px;
    padding-top: 14%;
  }
}
@media (min-width: 1024px) {
  .all-starter {
    display: flex;
    background-color: #f6f6f6;
    padding-left: 20px;
    padding-right: 20px;
  }
  .starter {
    width: 33.3%;
    margin: 0;
  }
  .starter__heading {
    width: 11.5%;
  }
  .starter__menu {
    height: 90px;
  }
  .starter__menu__price {
    padding-top: 70px;
    padding-left: 10%;
    margin-left: 0px;
  }
  .starter--tablet {
    display: none;
  }
}
.base-btn {
  margin: auto;
  margin-bottom: 70px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  color: white;
  background-color: #9356DC;
  padding: 15px 22px 15px 22px;
  border-radius: 25px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 3px 6px 30px #909090;
  z-index: 1;
  position: relative;
}
.base-btn:hover::after {
  opacity: 1;
}
.base-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #9356DC;
  padding: 15px 22px 15px 22px;
  border-radius: 25px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  background: linear-gradient(to bottom, #ff93e1, #a16be0);
  box-shadow: 5px 4px 10px #9d9d9d;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.base-btn--larger {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 50px;
  width: 160px;
}

/* Version tablette */
@media (min-width: 768px) {
  .base-btn {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    border-radius: 30px;
    margin-bottom: 120px;
  }
  .base-btn::after {
    border-radius: 30px;
  }
  .base-btn--larger {
    width: 200px;
  }
}
.bg-btn {
  background-color: #f6f6f6;
  padding: 1px 0px 40px 0px;
}

/*Animation apparition */
.menu-transition1 {
  animation-name: menu-transition;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.menu-transition2 {
  animation-name: menu-transition;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

.menu-transition3 {
  animation-name: menu-transition;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
}

/* Animation choix */
.starter__menu {
  overflow: hidden;
}
.starter__menu__price {
  transition: margin 600ms;
}
.starter__menu__spin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  margin-top: -12px;
  margin-bottom: -12px;
  margin-right: -125px;
  background-color: #99E2D0;
  transition: margin 600ms;
}
.starter__menu__spin i {
  background-color: #99E2D0;
  color: white;
  font-size: 24px;
  margin-right: 23px;
}
.starter__menu:hover i,
.starter__menu :active i {
  transform: rotate(360deg);
  transition: transform 600ms;
}
@media (max-width: 767px) {
  .starter__menu:hover > .starter__menu__spin,
.starter__menu :active > .starter__menu__spin {
    margin-right: -30px;
  }
  .starter__menu:hover > .starter__menu__price,
.starter__menu :active > .starter__menu__price {
    margin-right: -10px;
  }
}

/* Version tablette */
@media (min-width: 768px) {
  .starter__menu__spin {
    transition: transform 600ms;
  }
  .starter__menu__spin i {
    margin-right: 45px;
  }
  .starter__menu__price {
    transition: transform 600ms;
  }
  .starter__menu:hover > .starter__menu__spin,
.starter__menu :active > .starter__menu__spin {
    transform: translateX(-70px);
  }
  .starter__menu:hover > .starter__menu__price,
.starter__menu :active > .starter__menu__price {
    transform: translateX(-60px);
  }
}
@media (min-width: 1024px) {
  .starter__menu__price {
    padding-right: 40px;
  }
  .starter__menu__spin {
    transition: transform 600ms;
  }
  .starter__menu__spin i {
    margin-right: 36px;
  }
  .starter__menu__price {
    transition: transform 600ms;
  }
  .starter__menu:hover > .starter__menu__spin,
.starter__menu :active > .starter__menu__spin {
    transform: translateX(-80px);
  }
  .starter__menu:hover > .starter__menu__price,
.starter__menu :active > .starter__menu__price {
    transform: translateX(-50px);
  }
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 99;
  animation: bg-page 3000ms 1 forwards, visi 0s linear 3000ms 1 forwards;
}
.loading__spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 15px solid #9356DC;
  border-bottom: 15px solid #9356DC;
  border-left: 15px solid #c3c3c3;
  border-right: 15px solid #c3c3c3;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
}

/*# sourceMappingURL=style.css.map */
