/*Animation apparition */

.menu-transition1 {
    animation-name: menu-transition;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-delay: 2700ms;
}

.menu-transition2 {
    animation-name: menu-transition;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    animation-delay: 2700ms;
}

.menu-transition3 {
    animation-name: menu-transition;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    animation-delay: 2700ms;
}


/* Animation choix */



.starter__menu {

overflow: hidden;
    &__spin {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        margin-top: -12px;
        margin-bottom: -12px;
        margin-right: -115px;
        background-color: $color-primary;


        & i {
            background-color: $color-primary;
            color: white;
            font-size: 24px;
        }
    }

    &:hover,
    :active {
        i {
            transform: rotate(360deg);
            transition: transform 600ms;
        }
    }

    @media (max-width: 767px) {

        &:hover,
        :active {
            &>.starter__menu__spin {
                margin-right: -7px;
                transition: margin 600ms;
            }
        }

        &:hover,
        :active {
            &>.starter__menu__price {

                margin-right: -30px;
                transition: margin 600ms;
            }
        }
    }
}


/* Version tablette */


@include tablet{
    .starter__menu{

        &__spin{
            & i{
                margin-right: 5px;
            }
        }

        &:hover, :active{
            &  > .starter__menu__spin{
                  transform: translateX(-100px);
                  transition: transform 600ms;
              }
          }

          &:hover, :active{
            &   > .starter__menu__price{
               
                   transform: translateX(-70px);
                   transition: transform 600ms;
               }
           }

    }
}


@include desktop{
    .starter__menu{

        &__spin{
            & i{
                margin-right: 28px;
            }
        }

        &:hover, :active{
            &  > .starter__menu__spin{
                  transform: translateX(-80px);
                  transition: transform 600ms;
              }
          }

          &:hover, :active{
            &   > .starter__menu__price{
               
                   transform: translateX(-50px);
                   transition: transform 600ms;
               }
           }

    }
}
