/*Animation apparition */

.menu-transition1 {
    animation-name: menu-transition;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

.menu-transition2 {
    animation-name: menu-transition;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

.menu-transition3 {
    animation-name: menu-transition;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
}


/* Animation choix */



.starter__menu {

overflow: hidden;
    &__spin {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        padding-right: 4px;
        margin-top: -12px;
        margin-bottom: -12px;
        margin-right: -115px;
        background-color: $color-primary;

        &--larger {
            padding-top: 20px;
        }

        & i {
            background-color: white;
            color: $color-primary;
            font-size: 16px;
            border-radius: 50%;
            padding: 5px;
        }
    }

    &:hover,
    :active {
        i {
            transform: rotate(360deg);
            transition: transform 600ms;
        }
    }

    @media (max-width: 767px) {

        &:hover,
        :active {
            &>.starter__menu__spin {
                margin-right: -20px;
                transition: margin 600ms;
            }
        }

        &:hover,
        :active {
            &>.starter__menu__price {

                margin-right: -15px;
                transition: margin 600ms;
            }
        }
    }
}


/* Version tablette */




@include tablet{
    .starter__menu{
        &__spin{
            background-color: transparent;

            
            & i{
                border: 2px solid $color-primary;
                margin-top: 65px;
            }
            width: 55px;
            &--larger{
                padding-top: 0px;
            }
        }


        &:hover, :active{
            &  > .starter__menu__spin{
                  transform: translateX(-70px);
                  transition: transform 600ms;
              }
          }

          &:hover, :active{
            &   > .starter__menu__price{
               
                   transform: translateX(-40px);
                   transition: transform 600ms;
               }
           }

    }
}
