.base-btn {
    margin: auto;
    margin-bottom: 70px;
    @include font-style(base);
    @include btn;
    box-shadow: $shadow-btn;
    z-index: 1;
    position: relative;

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        @include pseudo-element;
        @include btn;
        background: $btn-colorlighten;
        box-shadow: $shadow-btn-hover;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }

    &--larger{
        display: flex;
        justify-content: center;
        margin: auto;
        margin-bottom: 80px;
        margin-top: $margin-section;
        width: 160px;
    }
}


/* Version tablette */

@include tablet{
    .base-btn{
        @include font-style(tablet-base);
        border-radius: 30px;
        margin-bottom: 120px;

        &::after{
            border-radius: 30px;
        }

        &--larger{
            width: 200px;
        }
    }
}

.bg-btn{
    background-color: $color-section;
    padding: 1px 0px 40px 0px;
}