.heart-regular{
    margin-right: -25px;
}

.heart-solid{
    color: transparent;
    transform: scale(0.4);
    transition: transform 800ms;
    
    &:hover{
        transform: scale(1.1);
        background: $hearth-color;     
        -webkit-background-clip: text;       
    }
}