$font-style: (
    base: (size: 16px,
        weight: 500,
        style: Roboto,
    ),

    logo: (size: 32px,
        weight: 500,
        style: Shrikhand,
    ),

    heading: (size: 24px,
        weight: 600,
        style: Roboto,
    ),

    hd-menu: (size: 18px,
        weight: 600,
        style: Roboto,
    ),

    hd-submenu:(size: 16px,
        weight: 400,
        style: Roboto,
    ),



);


