$color-primary: #99E2D0;
$color-secondary: #9356DC;
$color-tertiary: #FF79DA;
$color-base: white;
$color-section: #f6f6f6;
$color-footer: #353535;

$card-width: 90%;
$general-width: 100%;


$margin-section: 50px;
$margin-card: 20px;

$shadow: 10px 10px 30px darken($color-section, 10);
$shadow-btn: 3px 6px 30px darken($color-section, 40);
$shadow-btn-hover: 5px 4px 10px darken($color-section, 35);

$btn-colorbase: linear-gradient(to bottom , $color-tertiary, $color-secondary);
$hearth-color: linear-gradient(to top , $color-tertiary, $color-secondary);
$btn-colorlighten: linear-gradient(to bottom , lighten($color-tertiary, 5), lighten($color-secondary, 5))
