.restaurant-img {
    @include display;
    margin-top: 5px;
    background-color: $color-section;

    &__photo {
        overflow: hidden;
        & img {
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
    }

    &__heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-section;
        width: 100%;
        margin: auto;
        margin-top: -55px;
        font-size: 18px;
        font-family: Shrikhand;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

        &__txt{
            padding-left: 5%;
            padding-top: 5px;
        }

        &__icon{
            padding-right: 5%;
            padding-top: 5px;
            font-size: 28px;

            & .fa-regular{
                margin-right: -27.8px;
            }
        }
    }
}

/* Version Tablette */

@include tablet {
    .restaurant-img {
        &__photo {
            & img {
                height: 400px;
            }
        }

        &__heading {
            &__txt {
                padding-left: 3.5%;
            }
        }
    }
}