.area {
    @include display;
    background-color: $color-section;
    margin-top: 5px;

    &__locate {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px 0px 10px 0px;
        @include font-style(base);
        background-color: darken($color-section, 5);

        &__icon {
            margin-right: 20px;
        }
    }

    &__heading {
        @include display;
        margin-top: $margin-section;

        & h2 {
            @include font-style(heading);
            margin: auto;
            margin-bottom: 5px;

            & span {
                padding-left: 38px;
            }
        }

        & h3 {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 40px;

            & span {
                padding-left: 44px;
            }
        }
    }

}

/* Version tablette */

@include tablet {
    .area {
        &__locate {
            @include font-style(tablet-base);
        }

        &__heading {

            & h2 {
                @include font-style(tablet-heading);
            }

            & h3 {
                font-family: Roboto;
                font-size: 26px;
                font-weight: 400;
                
                & span {
                    padding-left: 60px;
                }
            }
        }
    }
}