.area {
    @include display;
    background-color: $color-section;
    margin-top: 5px;

    &__locate {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px 0px 10px 0px;
        @include font-style(base);
        background-color: darken($color-section, 5);
        border-top: 3px solid darken($color-section, 15);

        &__icon {
            margin-right: 20px;
        }
    }

    &__heading {
        @include display;
        margin-top: $margin-section;

        & h2 {
            @include font-style(heading);
            margin: auto;
            margin-bottom: 5px;

            & span {
                padding-left: 38px;
            }
        }

        & h3 {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 40px;

            & span {
                padding-left: 44px;
            }
        }
    }

    &__btn {
        margin: auto;
        margin-bottom: 70px;
        @include font-style(base);
        @include btn;
        box-shadow: $shadow-btn;
        z-index: 1;
        position: relative;

        &:hover {
            &::after {
                opacity: 1;
            }
        }

        &::after {
            @include pseudo-element;
            @include btn;
            background: $btn-colorlighten;
            box-shadow: $shadow-btn-hover;
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }
    }
}

